<div class="container">
  <hr />

  <h1>Walk in or schedule your FREE vaccine today.*</h1>

  <div class="flex-box">
    <div style = "width:50%">
      <p>
        Why get the vaccine from ReadyVax ?
      </p>
      <ul>
      <li>We've administered millions of COVID-19, Influenza tests to date.</li>
      <li>We have years of experience safely administering vaccines, such as those for COVID-19,
         Rabies and Influenza.</li>
      <li>We offer easy and convenient online scheduling options so you can schedule both required
         doses at the same time.</li>
      </ul>  

      <button class="btn btn-danger" style="width: 300px; height: 40px" [routerLink]="['/login']">
        Schedule a vaccine
      </button>
    </div>

    <div style = "width:50%">
      <img
        src="../assets/images/home.jpg"
        alt="image loading error"
        class="biz-img-responsive floatRight row">      
    </div>
  </div>
</div>
